<h1>About Adventures</h1>
<p>This is my about page for the Adventures Web Site</p>

<%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>

<%= link_to "Red", {controller: "welcome", action: "about", color: "red"}, class: "btn btn-danger" %>

<%= link_to "Yellow", {controller: "welcome", action: "about", color: "yellow"}, class: "btn btn-warning" %>

<%= link_to "Green", {controller: "welcome", action: "about", color: "green"}, class: "btn btn-success" %>
